[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Shutdown
Name[es]=Apagar
Comment=Shutdown or Reboot
Comment[es]=Apagar o reiniciar el equipo
Icon=system-shutdown
Exec=lxde-logout
NoDisplay=true
